div.content {
	--width: 75vw;
	--height: 75vw;
	height: 75vmin;
	border-radius: 25px;
	width: 50vw;
	background-color: #ef48e8;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

div.header {
	margin-top: 2vmin;
	font-size: 4vmin;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6vmin;
	background-color: #302b3a;
	border-radius: 25px;
	width: 9em;
	height: 5ex;
	justify-content: center;
	align-items: center;
}

.header h1 {
	margin-top: 1px;
	justify-content: center;
	align-items: center;
}

div.subcontent {
	padding: .5vmin;
	font-size: 3.5vmin;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #302b3a;
	border-radius: 25px;
	min-width: 10vmin;
	max-width: 90%;
	min-height: 40vh;
	margin-bottom: 1vmin;
}

.subcontent p {
	padding: 0;
	margin: 0;
}

@media screen and (max-width:1100px) {
	div.content {
		height: auto;
		max-height: 80vh;
	}

	div.subcontent {
		overflow: auto;
	}
}

@media screen and (max-width:1050px) {
	div.header {
		margin-bottom: 2vmin;
	}
}

@media screen and (max-width:700px) {
	div.subcontent {
		font-size: 1.5em;
	}
}

@media screen and (max-width:500px) {
	div.subcontent {
		font-size: 1.2em;
	}
}

@media screen and (max-width:350px) {
	div.subcontent {
		font-size: 1em;
	}
}
