body {
	overflow-y:visible;
}

 /*fixes overflow on left side of page do to scrollbar */
 img.scrollfix {
	margin-right:.7vw;
}

.main {
	height: auto;
	padding-bottom:0;
}

div.content {
	--width: 100vw;
	width: var(--width);
	height: auto;
}

div.header {
	width:100vw;
	min-height:30vh;
	color: white;
	/* top | right | bottom | left pad these out for where the content should be between the triangles of background)*/
	text-align:center;
}

.even {
	background-color: #ef48e8;
	color: black!important;
}

.header h1 {
	margin: 0;
	text-align: center;
}

.subcontent {
	display:flex;
	justify-content:center;
	height:calc(30vh - 39px);
	width:auto;
	padding:2vmin;
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width:750px) {

	div.content {
		top: 15vh
	}
}

@media screen and (max-width:320px) {

	div.header {
		font-size: .3em;
	}
}