* {
	font-family:candara;
}


html {
	background-color:white;
    background-color: #302b3a;
}

body {
	min-height:100vh;
	background-color: #302b3a;
	display:flex;
	flex-direction:column;
	margin:0;
}
.home a{
	background-color:#ef48e8;
}

.home a:hover {
	background-color:#F26FEC!important;
}

.top-spacer {
	background-image: linear-gradient(#adadad, #ffffff);
	height:4vw;
	max-height:37.5px;
	min-width:100%;
	/* SIZE OF TOP NAV CALC RIGHT HERE */
	margin-top:calc(max(15px, 1.2vw) + 5ex + 1px);
	position:fixed;
	z-index:2;
	
}

.topnav a:hover{
    color: #6E6E6E;
	background-color:#5A516D;
}

.topnav {
    overflow: hidden;
	background-color:#2a2633;
	margin:0;
	padding:0;
	min-height:40px;
	width:100vw;
	position:fixed;
	z-index:1;
}
.topnav a{
    float: left;
    display: block;
    color:whitesmoke;
    text-align: center;
    padding:max(15px, 1.2vw) 1.5vw;
    text-decoration: none;
    font-size: 16px;
    font-family: candara;
	font-size:120%;
}

.social a{
	float:right;
	padding:0;
}

a.icon{
	padding:calc(15px - 1.24ex);
}

.topnav img.ico {
	padding:0;
	width: 2.2em;
	height: 2.2em;
	}

.topnav img:not(.ico) { 
    float: right; 
    display: block;
    width: 2vw;
    height: 2vw;
	min-width:34px;
	min-height:34px;
	padding:calc(max(7px,.54vw) + .65px) 1vw;
    overflow: hidden;
    background-color: transparent;
    justify-content: right; 
}


.topnav img:hover{
    background-color: transparent; 
}

.topnav .icon {
  display: none;
}

.main {
	margin-top:calc(max(15px, 1.2vw) + 5ex - 3px + 4vh);
	padding-top:2vh;
	padding-bottom:2vh;
	height:auto;
	width:100vw;
	z-index:0;
	background-image:url("../img/Body.png");
	background-repeat:repeat-y;
	background-size:100%;
	
}

.main img{
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    z-index: -1;
    width: 100vw;
	object-fit: contain;
	overflow:hidden;		
}

div.content {
	--width: 75vw;
	--height: 255vh;
	border-radius: 25px;
	width:var(--width);
	height:auto;
	margin-left:auto;
	margin-right:auto;
	background-color: none;
	z-index:1;
	overflow:grow;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:row;
	flex-wrap: wrap;
}

div.block {
	--wblock:calc(90vw * .2);
	float:left;
	font-size:max(2vw,4px);
	color: white;
	margin:2vmin;
	background-color:#302b3a;
	width:var(--wblock);
	min-width:290px;
	height:calc(var(--wblock) + 9ex);
	min-height:calc(290px + 9ex);
    overflow:visible;
	margin-bottom:6vmin
}

.block img {
	display:block;
	z-index:5;
	width:calc(90vw * .2);
	min-width:290px;
	height:calc(90vw * .2);
	min-height:290px;
	box-shadow: 1vmin 1vmin 1vmin 0vmin black;
	border-radius:1vh;
}

@media screen and (max-width:900px) {div.block {min-width:140px; min-height:calc(140px + 9ex); font-size:2ex;} .block img {min-width:140px;min-height:140px;}}
@media screen and (max-width:425px) {div.block {min-width:130px; min-height:calc(130px + 9ex); font-size:1.7ex;} .block img {min-width:130px;min-height:130px;}}
@media screen and (max-width:390px) {div.block {min-width:180px; min-height:calc(180px + 9ex); font-size:1.7ex;} .block img {min-width:180px;min-height:180px;}}

.block p {
	display:block;
	float:left;
	margin-top:.3em;
}

div.subcontent {
	padding:.5vmin;
	font-size:max(4.3vmin ,16px);
	color: white;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	background-color:#302b3a;
	border-radius:25px;
	min-width:10vmin;
	max-width:90%;
	min-height:30vmin;
	margin-bottom:1vmin;
}

.subcontent p {
	padding:0;
	margin:0;
}

footer {
	background-color:white;
	height:7.8vh;
	max-height:80px;
	z-index:0;
    width: 100%;
    bottom: 0px;
}

footer p {
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
}

@media screen and (max-width: 1000px) {
  .topnav a:not(.navfirst) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width:750px) {
	
	div.content {
	top:15vh
	}
}
@media screen and (max-width: 1000px) {
  .topnav.responsive {
	position: absolute;
  	z-index:10;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}