html {
	background-color: white;
	background-color: #302b3a
}

body {
	min-height: 100vh;
	background-color: #302b3a;
	display: flex;
	flex-direction: column;
	margin: 0;
}

.home a {
	background-color: #ef48e8;
}

.home a:hover {
	background-color: #F26FEC !important;
}

.top-spacer {
	background-image: linear-gradient(#adadad, #ffffff);
	height: 4vh;
	max-height: 37.5px;
	min-width: 100%;

}

footer {
	background-color: white;
	height: 7.8vh;
	max-height: 80px;
	z-index: 0;
	width: 100%;
	bottom: 0px;
}

.topnav a:hover {
	color: #6E6E6E;
	background-color: #5A516D;
}

.topnav {
	overflow: hidden;
	background-color: #2a2633;
	margin: 0;
	padding: 0;
	min-height: 40px;
	width: 100vw;

}

.topnav a {
	float: left;
	display: block;
	color: whitesmoke;
	text-align: center;
	padding: max(15px, 1.2vw) 1.5vw;
	text-decoration: none;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.social a {
	float: right;
	padding: 0;

}



a.icon {
	padding: calc(15px - 1.24ex);
}

.topnav img.ico {
	padding: 0;
	width: 2.2em;
	height: 2.2em;
}

.topnav img:not(.ico) {
	float: right;
	display: block;
	width: 2vw;
	height: 2vw;
	min-width: 34px;
	min-height: 34px;
	padding: calc(max(7px, .54vw) + .65px) 1vw;
	overflow: hidden;
	background-color: transparent;
	justify-content: right;
}


.topnav img:hover {
	background-color: transparent;
}

.topnav .icon {
	display: none;
}

.main {
	height: 78.8vh;
	z-index: 0;
	flex-grow: 1;
	overflow: hidden;
}

.main img {
	margin-top: 0px;
	margin-bottom: 0px;
	justify-content: center;
	z-index: -1;
	width: 100vw;
	object-fit: contain;
	overflow: hidden;
}

div.content {
	left: calc(50% - 35vmin);
	top: calc(50% - 32vmin);
	float: center;
	width: 70vmin;
	height: 70vmin;
	background-color: white;
	z-index: 1;
	position: absolute;
}

footer p {
	text-align: center;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: darkgray;
}

@media screen and (max-width: 900px) {
	.topnav a:not(.navfirst) {
		display: none;
	}

	.topnav a.icon {
		background-color: grey;
		float: right;
		display: block;
	}
}

@media screen and (max-width: 900px) {
	.topnav.responsive {
		position: absolute;
		z-index: 10;
	}

	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}